<p>For legal complaints send an e-mail to legal [at] koyu [dot] space and for support send an e-mail to support [at] koyu [dot] space.</p><br><br>

<p>The legal entity of this service and its sub-services is:<p>
koyu.space<br>
Dorfstr. 34<br>
24217 Wisch b. Kiel<br>
Germany<br>
<p>Support telephone: +491604165737 (SMS, phone calls or Telegram). Standard fees may apply.</p>
<br>
<p>This address is only for sending and receiving mail or packages. Do not attempt to visit this address.</p>
<br>
<p>Hi, welcome to koyu.space. I'm Leonie and I own this server. The goal of koyu.space is to create privacy-focused and people-friendly internet services. By visiting this site you agree to the terms of service below and our <a href="https://koyu.space/terms">privacy policy</a>.</p><br>

<h2>Technical information</h2>
<p>koyu.space Mastodon is hosted on masto.host, they use an OVH infrastructure in France for their hosting. This is the site you're currently seeing. Our Git server is hosted on OVH, but by myself. Everything else is hosted on DigitalOcean. We use Cloudflare for DNS management and partially their services like enforced SSL and DDoS protection. We may see your IP address or webpage views, but we REALLY take our job serious in protecting this data.</p>
<p>Server uptime: <a href="https://up.koyu.space" target="_blank">https://up.koyu.space</a></p><br>

<h2>Our team</h2>
<ul>
<li>koyu (Goddess)</li>
<li>Fyrfaras (Admin)</li>
<li>Zack (Admin, Infrastructure)</li>
<li>TastyTentacles (Mod)</li>
<li>thorwaldson (Mod)</li>
<li>Einhjeriar (Mod)</li>
</ul><br />

<h2>Financial information</h2>
<p>To keep server costs low we host things on a "What will happen in the future?" basis. So if we see a user influx we have to pay more. Since our services are free and don't use any tracking or advertisement mechanisms we greatly appreciate donations if you like.<p><br>

<h2>Services</h2>
<ul>
<li>Mastodon: <a href="https://koyu.space" target="_blank">https://koyu.space</a></li>
<li>Git: <a href="https://git.koyu.space" target="_blank">https://git.koyu.space</a></li>
<li>Searx: <a href="https://search.koyu.space" target="_blank">https://search.koyu.space</a></li>
<li>Matrix: <a href="https://matrix.koyu.space" target="_blank">https://matrix.koyu.space</a></li>
<li>Minecraft: <a href="https://mc.koyu.space" target="_blank">https://mc.koyu.space</a></li>
</ul>
<p>Services with closed registrations are request-only due to limited resources.</p>
<p>We also offer free subdomains for users on koyu.space! Just e-mail us your A record or CNAME record along with your preffered subdomain and we will handle the rest. Please note that we don't take any responsibility for user subdomains except limited by law.</p>
<p>If you want to register on our Matrix instance you can register <a href="https://matriux.koyu.space" target="_blank">here</a> for an account.</p><br>

<h2>Terms of Service</h2>

<p><strong>TLDR:</strong> koyu dot space has a zero-tolerance policy for racism, antisemitism, Islamophobia, xenophobia, sexism, homophobia, transphobia, ableism, and other forms of discriminatory and bigoted conduct. You must be 16 years of age or older to access koyu dot space (as defined by GDPR). Please CW any nudity, sexually graphic, or violent imagery. Please don't harass other fediverse users. Sexual harassment is an instaban. We reserve the right to suspend your account at any time.</p><br>

<h3>The Long Version</h3>

<p>The following guidelines are not a legal document, and final interpretation is up to the administration of koyu dot space; they are here to provide you with an insight into our content moderation policies:</p>
<ul>
<li>
<p>Access to koyu dot space is restricted to individuals 16 years of age or older. Any user account suspected of evading this restriction will be suspended.</p>
</li>
<li>
<p>The following types of content will be removed from the public timeline:</p>
<ul>
<li>
<p>Excessive advertising</p>
</li>
<li>
<p>Uncurated news bots posting from third-party news sources</p>
</li>
<li>
<p>Untagged nudity, pornography and sexually explicit content, including artistic depictions</p>
</li>
<li>
<p>Untagged gore and extremely graphic violence, including artistic depictions</p>
</li>
<li>
<p>Paid and unpaid advertising</p>
</li>
<li>
<p>Links to login-walls and pay-walls (e.g. Discord invite links and Clash Royale friend request links), this rule doesn't count for offers inside koyu dot space</p>
</li>
</ul>
</li>
<li>
<p>The following types of content will be removed from the public timeline, and may result in account suspension and revocation of access to the service:</p>
<ul>
<li>
<p>Racism or advocation of racism</p>
</li>
<li>
<p>Sexism or advocation of sexism</p>
</li>
<li>
<p>Casteism and advocation of casteism</p>
</li>
<li>
<p>Discrimination against gender and sexual minorities, or advocation thereof</p>
</li>
<li>
<p>Xenophobic and/or violent nationalism</p>
</li>
</ul>
</li>
<li>
<p>The following types of content are explicitly disallowed and will result in revocation of access to the service:</p>
<ul>
<li>
<p>Sexual depictions of children (doesn't matter if real or fiction). This same rule applies if it is your body, you have to be at least 18 years old to post sexually implying pictures of yourself, no exceptions.</p>
</li>
<li>
<p>Bestiality</p>
</li>
<li>
<p>Content illegal in Germany and/or France, such as holocaust denial or Nazi symbolism</p>
</li>
<li>
<p>Conduct promoting the ideology of National Socialism</p>
</li>
<li>
<p>For profit companies accounts aren't allowed. (If you look around a bit there are servers made specifically for this)</p>
</li>
<li>
<p>Offering sex services in exchange for money is prohibited on the server. (If you look around a bit there are servers made specifically for this)</p>
</li>
<li>
<p><em>Boosting</em> content is the <em>same as posting</em> content, if you boost something you endorse it and it must follow these rules.</p>
</li>
</ul>
</li>
</ul>
<ul>
<li>
<p>Any conduct intended to stalk or harass other users, or to impede other users from utilizing the service, or to degrade the performance of the service, or to harass other users, or to incite other users to perform any of the aforementioned actions, is also disallowed, and subject to punishment up to and including revocation of access to the service. This includes, but is not limited to, the following behaviors:</p>
<ul>
<li>
<p>Continuing to engage in conversation with a user that has specifically requested for said engagement with that user to cease and desist may be considered harassment, regardless of platform-specific privacy tools employed.</p>
</li>
<li>
<p>Aggregating, posting, and/or disseminating a person's demographic, personal, or private data without express permission (informally called doxing or dropping dox) may be considered harassment.</p>
</li>
<li>
<p>Inciting users to engage another user in continued interaction or discussion after a user has requested for said engagement with that user to cease and desist (informally called brigading or dogpiling) may be considered harassment.</p>
</li>
<li>
<p>Circumventing protection measures meant for protecting user's privacy or ensuring server stability</p>
</li>
</ul>
</li>
<li>
<p>You have to follow proper procedures when posting NSFW content.&nbsp;</p>
</li>
</ul>
<p>If you don't understand what NSFW means, <a href="https://wikipedia.org/wiki/Not_safe_for_work" target="_blank">here's the wikipedia article about it</a>.</p>
<ul>
<li style="list-style-type: none;">
<ul>
<li>
<p>You <em>must</em> hide NSFW content using the <em>Mark media as sensitive</em> checkbox</p>
</li>
<li>
<p>You <em>must</em> put explicit (Pornographic) content on the <em>Unlisted</em> privacy level, or more.</p>
</li>
<li>
<p>You <em>may not</em> have NSFW content in your profiles.</p>
</li>
</ul>
</li>
</ul>
<p>&nbsp;</p>
<p>These provisions notwithstanding, the administration of the service reserves the right to revoke any user's access permissions, at any time, for any reason, except as limited by law.</p><br />
<h2>Credits and conditions</h2>
<p>This server uses <a href='https://mutant.tech'>Mutant Standard emoji</a> made by <a href='http://noct.zone'>Dzuk</a>, which are licensed under a <a href='https://creativecommons.org/licenses/by-nc-sa/4.0/'>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
<p>The cover art of this server was made by <a href="https://koyu.space/@aidalgol">@aidalgol</a> and is released under <a href='https://creativecommons.org/licenses/by/4.0/'>CC-BY</a>.</p>
<p>BunHD emojis are made by Feuerfuchs and koyu.space has permission to use them as mascot, alternative logo, in software and on merchandise. The source is available at <a href="https://git.feuerfuchs.dev/Feuerfuchs/bunhd-emojis" target="_blank">https://git.feuerfuchs.dev/Feuerfuchs/bunhd-emojis</a> with a mirror at <a href="https://git.koyu.space/koyu/bunhd-emojis" target="_blank">https://git.koyu.space/koyu/bunhd-emojis</a>.</p>
<br>
<p>Last updated: 12.12.2019. Subject to changes.</p>
