<b>Sponsored by:</b>
<p><a href="https://koyu.space/@Fyrfaras">@Fyrfaras</a> &#8226; <a href="https://koyu.space/@dreamwebspace">@dreamwebspace</a></p>
<p>...and a couple bottles of Afri cola</p>
<br><br>
<p>A cozy space for everyone (* ^ ω ^) ✨</p><br />
<p>This server doesn't have a specific theme or topic and everyone is welcome to join :)</p><br />

<br><hr>

<a href="https://play.google.com/store/apps/details?id=com.Sommerlichter.social" target="_blank"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" width="150" style="float:left" /></a>
<br><br><br>
<p><small style="margin-left:18px;"><a href="https://gitlab.com/koyuawsmbrtn/koyuspace-app/-/releases" target="_blank">(or download APK)</a></small></p>

<br><hr><br />

<p>What sets us apart from other Mastodon instances:</p>
<ul style="list-style-type:square;padding:20px;">
<li>Custom theme</li>
<li>Stickers</li>
<li>Clean local timeline</li>
<li>Optimized interface for content creators</li>
<li>Great uptime</li>
<li>Podcast app with a complete podcasting platform</li>
<li>Fast and helpful support team</li>
<li>Strong prohibition of "cancel culture" and other bad social constructs</li>
</ul>

<br><hr><br />

<p><a href="https://up.koyu.space/" target="_blank">Server Status</a></p><br>
<p><a href="https://liberapay.com/koyu.space/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></p>

<a rel="me" href="https://koyu.space/@koyu"></a>

<p>
